---
import { useTranslations } from "../../utils/i18n/utils";
import { Button } from "../ui/Button";
import ImageInfoButton from "./ImageInfoButton.tsx";

const t = useTranslations(Astro.url);
---

<section
  class="w-screen h-screen mx-auto px-6 flex flex-col items-center justify-center bg-gradient-to-b from-blue-100 to-neutral-100 dark:from-gray-800 dark:to-gray-900"
>
  <div class="relative w-11/12 max-w-xl aspect-square">
    <!-- Main image -->
    <img
      src="/images/happy-family.webp"
      alt="Main Image"
      class="w-full h-full object-cover rounded-lg shadow-2xl"
    />
    <!-- React-based InfoButton components -->
    <ImageInfoButton
      id="bubble1"
      position={{ top: "15%", left: "28%" }}
      title={t("landing.bubble1.title")}
      content={t("landing.bubble1.content")}
      pointerDirection="top"
      pointerAlign="center"
      client:only="react"
    />

    <ImageInfoButton
      id="bubble2"
      position={{ top: "12%", right: "28%" }}
      title={t("landing.bubble2.title")}
      content={t("landing.bubble2.content")}
      pointerDirection="top"
      pointerAlign="end"
      client:only="react"
    />

    <ImageInfoButton
      id="bubble3"
      position={{ bottom: "30%", left: "40%" }}
      title={t("landing.bubble3.title")}
      content={t("landing.bubble3.content")}
      pointerDirection="bottom"
      pointerAlign="center"
      client:only="react"
    />
  </div>
  <div class="mt-8 text-center">
    <a href="/chat">
      <Button
        size="lg"
        variant="default"
        className="bg-blue-500 hover:bg-blue-600 text-white animate-pulse"
      >
        {t("landing.ctaButton")}
      </Button>
    </a>
  </div>
</section>
