---
import { getLangFromUrl, useTranslations } from "../../utils/i18n/utils";
import ImageInfoButton from "./ImageInfoButton.tsx";

const t = useTranslations(Astro.url);
---

<section
  class="w-screen h-screen mx-auto px-6 flex items-center justify-center bg-linear-to-b from-blue-200 to-neutral-100"
>
  <div class="relative w-11/12 max-w-xl aspect-squre">
    <!-- Main image -->
    <img
      src="/images/happy-family.webp"
      alt="Main Image"
      class="w-11/12 max-w-xl object-cover"
    />
    <!-- React-based InfoButton components -->
    <ImageInfoButton
      id="bubble1"
      position={{ top: "15%", left: "28%" }}
      title={t("landing.bubble1.title")}
      content={t("landing.bubble1.content")}
      pointerDirection="top"
      pointerAlign="center"
      client:load
    />

    <ImageInfoButton
      id="bubble2"
      position={{ top: "12%", right: "28%" }}
      title={t("landing.bubble2.title")}
      content={t("landing.bubble2.content")}
      pointerDirection="top"
      pointerAlign="end"
      client:load
    />

    <ImageInfoButton
      id="bubble3"
      position={{ bottom: "30%", left: "40%" }}
      title={t("landing.bubble3.title")}
      content={t("landing.bubble3.content")}
      pointerDirection="bottom"
      pointerAlign="center"
      client:load
    />
  </div>
</section>
