---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../../utils/i18n/utils";

const t = useTranslations(Astro.url);
const lang = getLangFromUrl(Astro.url);
---
<section class="py-16 text-center bg-gray-100 p-4">
    <h2 class="text-4xl font-bold text-gray-800 font-montserrat">{t("landing.why.title")}</h2>
    <p class="text-lg text-gray-600 mt-4 max-w-xl mx-auto">{t("landing.why.description")}</p>
    <div class="sm:justify-center gap-8 mt-8 flex flex-col sm:flex-row">
        <div class="text-2xl text-teal-600 flex flex-col items-center">
            <span class="material-icons text-4xl drop-shadow-[0_0_10px_teal]">{t("landing.why.eco.title")}</span>
            {t("landing.why.eco.sub")}
        </div>
        <div class="text-2xl text-teal-600 flex flex-col items-center">
            <span class="material-icons text-4xl drop-shadow-[0_0_10px_teal]">{t("landing.why.fitnessCenter.title")}</span>
            {t("landing.why.fitnessCenter.sub")}
        </div>
        <div class="text-2xl text-teal-600 flex flex-col items-center">
            <span class="material-icons text-4xl drop-shadow-[0_0_10px_teal]">{t("landing.why.favorite.title")}</span>
            {t("landing.why.favorite.sub")}
        </div>
    </div>
</section>