---
import Layout from "../components/Layout.astro";
import PostingsList from "../components/postings/PostingsList.tsx";
---

<Layout title="tommy-project">
    <div class="pb-14">
        <PostingsList client:only />
    </div>
</Layout>
