---
import Layout from "../components/Layout.astro";
import PostingsList from "../components/postings/PostingsList.tsx";
---

<Layout title="tommy-project">
    <section class="pb-14">
        <PostingsList client:only />
    </section>
</Layout>
