---
import LanguagePicker from "./LanguagePicker.astro";
---
<footer class="py-8 bg-background text-foreground text-center">
  <p class="text-lg">Health is wealth. Let’s build yours.</p>
  <LanguagePicker/>
  <div class="opacity-50">Copyright © 2025 Tommy.</div>
</footer>