---
import "../../src/styles/globals.css";
import { getLangFromUrl, isDefaultLang } from "../utils/i18n/utils";
import RedirectI18N from "./RedirectI18N.astro";
import UserStoreSetter from "./auth/UserStoreSetter.astro";

interface Props {
	title: string;
	useUserStore?: boolean;
}

const { title, useUserStore } = Astro.props;
---

<!doctype html>
<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
      }
    </script>
    {isDefaultLang(Astro.url) && <RedirectI18N />}
    {useUserStore && <UserStoreSetter />}
  </head>
  <body class="antialiased bg-background text-foreground">
    <slot/>
  </body>
</html>
